body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Distribute space around elements */
}
.container {
    width: 45%; /* Set width for each container */
    margin: 50px 0; /* Adjust margin for spacing */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
}
p {
    color: #666;
}
.message {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}