body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
    )
    calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
    );
    background-size: var(--s) calc(var(--s) * 0.577);
    
}

#live {
    border: 2px solid #000000b6;
    box-shadow: 0 0 20px #000000b6;
    max-width: 100%;
    margin-top: 30px;
    margin-right: 30%;
}

#photo {
    margin-top: 15px;
    margin-right: 5%;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 10px; /* Add margin for space */
    padding: 10px 20px;
    font-size: 1em;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.capture_email_refresh_button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #000000b6;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    background-color: #000000b6;
    position: relative;
    overflow: hidden;
    font-size: 17px;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.capture_email_refresh_button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.capture_email_refresh_button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.capture_email_refresh_button:hover {
    color: #000000;
    border: 1px solid #eeeeee;
}

.capture_email_refresh_button:hover:before {
    top: -35%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.capture_email_refresh_button:hover:after {
    top: -45%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#servo-container {
    position: absolute;
    right: 5%; /* Adjust the distance from the right edge */
    top: 40%; /* Adjust the vertical position */
    transform: translateY(-50%);
    width: 400px; /* Increase the width of the container */
    text-align: center; /* Align the content to the center */
    z-index: 1; /* Ensure the sliders appear above other elements */
    border: 2px solid #999; /* Add border */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding inside the container */
    background-color: #333; /* Add darker background color */
}

#servo-container p {
    margin-bottom: 15px; /* Add space between paragraphs */
}

.slider-container {
    width: 100%; /* Set width to 100% */
}

.slider {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 100%; /* Set the width of the slider */
    height: 15px; /* Set the height of the slider */
    border-radius: 20px; /* Make the corners more round */
    background: #555; /* Set darker background color */
    outline: none; /* Remove the outline */
    opacity: 0.9; /* Set the initial opacity */
    transition: opacity 0.2s; /* Add transition for smoother changes */
}

/* Customize the appearance of the slider thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 25px; /* Set the width of the thumb */
    height: 25px; /* Set the height of the thumb */
    border-radius: 50%; /* Make it round */
    background: #ccc; /* Set the color of the thumb */
    cursor: pointer; /* Add cursor pointer */
}

/* Adjust the appearance of the slider thumb on different browsers */
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

/* Apply responsive styles using media queries */
/* For screens smaller than 576px (phones) */
@media (max-width: 576px) {

    body{
        --s: 200px; /* Further increase the size for smaller screens */
        background-size: var(--s) calc(var(--s) * 0.577);
    }

    #live {
        margin: 20px auto; /* Center the live image horizontally */
        display: block; /* Ensure it is displayed as a block element */
    }

    #photo {
        margin-top: 10px; /* Add margin to the top */
        margin-bottom: 20px; /* Add margin to the bottom */
        display: block; /* Ensure it is displayed as a block element */
        width: 70%; /* Adjust the width of the captured photo */
        margin-left: auto; /* Center the image horizontally */
        margin-right: auto; /* Center the image horizontally */
    }

    h1 {
        font-size: 1.5em; /* Decrease font size */
    }

    #button-container {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center align buttons */
    }

    .capture_email_refresh_button,
    .Refresh_button {
        width: 80%; /* Set buttons to 80% width */
        margin: 6px 0; /* Add margin top and bottom */
    }

    button {
        margin: 10px 0; /* Add margin top and bottom */
    }

    #servo-container {
        position: relative; /* Change positioning to relative */
        top: auto; /* Reset top positioning */
        right: auto; /* Reset right positioning */
        width: 80%; /* Adjust width */
        margin: 20px auto; /* Center the container horizontally and add margin from top */
        transform: none; /* Reset transform */
    }
}


@media (max-width: 768px) {

    body {
        --s: 200px; /* Further increase the size for smaller screens */
        background-size: var(--s) calc(var(--s) * 0.577);
    }

    #live{
        margin: 20px auto; /* Center the images horizontally */
        display: block; /* Ensure they are displayed as block elements */
    }

    #photo {
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    #servo-container {
        position: relative; /* Change positining to relative */
        top: auto; /* Reset top positioning */
        right: auto; /* Reset right positioning */
        width: 50%; /* Adjust width */
        margin: 300px auto; /* Center the container horizontally and add margin from top */
        transform: none; /* Reset transform */
    }
}


/* For screens smaller than 1024px */
@media (max-width: 1024px) {

    body{
        --s: 200px; /* Increase the size for smaller screens */
        background-size: var(--s) calc(var(--s) * 0.577);
    }

    #live{
        margin: 20px auto; /* Center the images horizontally */
        display: block; /* Ensure they are displayed as block elements */
    }

    #photo {
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    #servo-container {
        position: relative; /* Change positioning to relative */
        top: auto; /* Reset top positioning */
        right: auto; /* Reset right positioning */
        width: 60%; /* Adjust width */
        margin: 20px auto; /* Center the container horizontally and add margin from top */
        transform: none; /* Reset transform */
    }

    button {
        padding: 15px 30px; /* Increase padding for bigger buttons */
        font-size: 1.2em; /* Increase font size */
    }

}

/* For screens smaller than 1440px */
@media (max-width: 1440px) {
    #servo-container {
        position: relative; /* Change positioning to relative */
        top: auto; /* Reset top positioning */
        right: auto; /* Reset right positioning */
        width: 50%; /* Adjust width */
        margin: 20px auto; /* Center the container horizontally and add margin from top */
        transform: none; /* Reset transform */
    }

    button {
        padding: 15px 30px; /* Increase padding for bigger buttons */
        font-size: 1.2em; /* Increase font size */
    }

    #live{
        margin: 20px auto; /* Center the images horizontally */
        display: block; /* Ensure they are displayed as block elements */
    }

    #photo {
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}